.movie-item {
  transition: all 1s;
  box-sizing: border-box;
  position: relative;
  color: white; }
  .movie-item__title {
    font-size: 1.2rem;
    position: absolute;
    text-align: center;
    left: 0;
    top: 0;
    z-index: 1000;
    background: rgba(0, 0, 0, 0.6);
    width: 100%; }
  .movie-item__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 1s; }
    .movie-item__img:hover {
      transform: scale(1.1);
      transition: all 1s; }
